<manifest package="com.qihoo.plugin" android:versionCode="1" xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <application>
    <service android:name="com.qihoo.plugin.update.UpdateService" android:process=":plugin_update"/>
    <activity android:name="com.qihoo.plugin.core.ProxyActivity" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false" android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <service android:name="com.qihoo.plugin.core.WrapService" android:exported="false" android:process=":plugin"/>
    <activity android:name="com.qihoo.plugin.base.ui.PluginsActivity" android:label="已安装插件" android:process=":plugin" android:launchMode="singleTask" android:screenOrientation="portrait"/>
    <service android:name="com.qihoo.plugin.base.PluginProcessStartup" android:process=":plugin"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_1" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_2" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_3" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_4" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_5" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_6" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_7" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_8" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_9" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTop" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTopActivity_10" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_1" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_2" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_3" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_4" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_5" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_6" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_7" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_8" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_9" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleInstance" android:name="com.qihoo.plugin.core.ProxyActivity$SingleInstanceActivity_10" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_1" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_2" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_3" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_4" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_5" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_6" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_7" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_8" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_9" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
    <activity android:process=":plugin" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:launchMode="singleTask" android:name="com.qihoo.plugin.core.ProxyActivity$SingleTaskActivity_10" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|locale|touchscreen|navigation|screenLayout|fontScale|smallestScreenSize" android:exported="false"/>
  </application>
</manifest>
